@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&family=Roboto+Slab&display=swap');

body {
    background-image: url('../img/hands.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.webdev-img {
    width:100%;
    height: auto;
}

.webdev-header {
    font-family:'Roboto Slab', serif;
    font-size: 50px;
    text-shadow: 2px 2px 2px white;
    text-align: center;
    color: #762222;

}

.webdev-text {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 1.1rem;
    color: white;
}

.fa-facebook-square {
    color: blue;
    font-size: 30px;
}

table,th,td {
    border: 1px solid white;

}

table {
    border-collapse: collapse;
}

table{
    width: 500px;
}

th{
color: whitesmoke;
}

.pinakas {
    color: white;
}


.apply {
    color: white;
}

.apply > a:hover {
    color: red;
}

.apply > a:active {
    color: green;
}

